:root {
  --bg-color: #2f75de4b;
  --base-bg-color: #ecf0f1;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, var(--bg-color) 25%, transparent 25%) -50px
      0,
    linear-gradient(225deg, var(--bg-color) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg-color) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg-color) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--base-bg-color); /* Couleur de fond de base */
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Assure que le body occupe toute la hauteur de la fenêtre */
  margin: 0; /* Supprime les marges par défaut */
}

app {
  width: 100%;
  max-width: 1200px; /* Limite la largeur maximale de l'app */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titre {
  font-size: 2.5em;
  margin-top: 20px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #2563eb;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.menu-button {
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 10;
  box-shadow: none;
}

.menu-button div {
  width: 30px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.menu-button:hover div {
  background-color: #1e4bb8;
}

.menu-button.active div:nth-child(1) {
  transform: rotate(45deg);
}

.menu-button.active div:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.menu-button.active div:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-button:hover {
  background-color: transparent;
  box-shadow: none;
}

#back:active,
.menu-button:active {
  scale: 0.95;
}

/* Profile */
.profile-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-items {
  user-select: none;
  display: none;
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.menu-items div {
  padding: 5px;
  margin-bottom: 10px;
  width: 200px;
}

.menu-items div:last-child {
  margin-bottom: 0;
}

.code-profile:hover {
  background-color: #e1dfdf;
  border-radius: 3px;
  cursor: pointer;
}

.code-profile:active {
  background-color: #d6d6d6;
}

/* Players */
.players {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player-card,
.pseudo,
.code,
.role-select,
.indice-container .word,
.indice-container .count {
  font-size: 1.5em;
  border: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 0;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #f0f0f0;
}

.score {
  display: flex;
  flex-direction: row; /* Change de column à row */
  justify-content: space-between;
  align-items: center; /* Centrer verticalement */
  background-color: #f0f0f0;
  font-size: 1.5em;
  border: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 0;
}

.score-number {
  margin-left: 5px;
}

/* Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 75px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid #f7df2b;
}

.card:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.gray {
  background-color: #dcdbc5;
}

.card.blue {
  background-color: #2491ae;
  color: white;
}

.card.black {
  background-color: #474746;
  color: white;
}

/* Pseudo */
.pseudo-container,
.join-container,
.role-container {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  justify-content: center;
  align-items: center;
  width: 100%; /* Assure que le conteneur occupe toute la largeur */
}

.pseudo-container input,
.pseudo-container button,
.join-container input,
.join-container button,
.role-container select,
.role-container button {
  width: 100%; /* Assure que les éléments enfants occupent toute la largeur du conteneur */
  max-width: 320px; /* Limite la largeur maximale des éléments */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.pseudo:focus,
.code:focus {
  outline: 2px solid #2563eb;
}

/* Bouton */
button {
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #2563eb;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

button:hover {
  background-color: #1e4bb8;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Indice */
.indice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.indice-container .submit {
  font-size: 0.9em;
  border-radius: 5px;
  width: 150px;
  margin-bottom: 10px;
}

.clue-container,
.waiting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: 5px solid #7289da;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.waiting-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Error notification */
.error-notification {
  background-color: #ff4757;
  color: #f1f2f6;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 50%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e74c3c; /* Couleur rouge pour la barre de progression */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.progress {
  width: 100%;
  height: 100%;
  background-color: #ff4757; /* Couleur rouge pour la progression */
  transition: width 0.1s linear;
}

.error-notification.show {
  opacity: 1;
  transform: translate(-50%, 0);
}

/* Success notification */
.success-notification {
  background-color: #2ecc71; /* Couleur verte pour le succès */
  color: #f1f2f6;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 50%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.success-notification .progress-bar {
  background-color: #27ae60; /* Couleur verte pour la barre de progression */
}

.success-notification .progress {
  background-color: #2ecc71; /* Couleur verte pour la progression */
}

.success-notification.show {
  opacity: 1;
  transform: translate(-50%, 0);
}

input,
select {
  font-size: 1em;
  padding: 10px;
  border: 2px solid #2563eb;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus,
select:focus {
  border-color: #1e4bb8;
  box-shadow: 0 0 5px rgba(33, 77, 166, 0.5);
  outline: none;
}

input:hover,
select:hover {
  border-color: #1e4bb8;
}

/* Bouton retour */
.back-button {
  font-size: 1em;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.back-button:hover {
  background-color: #1e4bb8;
}

.back-button:active {
  transform: scale(0.98);
}

.screen-size-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #ff4757, #ff6b81);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.screen-size-error h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.screen-size-error p {
  font-size: 1.5em;
}
